body {
	background-color: black;
}

* {
	color: white;
}

h1 {
	font-size: 200pt;
}

h1 {
  margin: auto;
  width: 50%;
  padding: 10px;
  padding-top: 1200px;
}

#inn {
	color: red;
}

#inn:hover {
	color: green;
}